body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
}

.left-side {
  width: 50%;
  padding-left: 7%;

  margin-top: 200px;
  margin-right: 20px;
}

.right-side {
  width: 50%;
}

.right-side img {
  width: 80%;
  padding-left: 10%;
}

.link-btn {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);

  padding: 7px 20px;
  margin-top: 10px;
  border-radius: 5px;

  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.top-banner {
  background-image: url("./img/side.png");
  background-repeat: no-repeat;
}

.section-two {
  margin-top: 10%;
}

.left-dream {
  width: 50%;
  margin-left: 12%;
}

.left-dream > img {
  width: 80%;
}

.right-dream {
  width: 50%;
  padding-right: 5%;
}

.dream-btn {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 7px 20px;

  border-radius: 5px;
}
